Repository nuxt/framework, pull requests merged in 2021-12, with the labels that each got.

#2246 fix(bridge): always add `components.d.ts` reference
  packages/bridge/src/app.ts
Labels: bug, bridge

#2244 fix(bridge, kit): don't modify template array whilst traversing it
  packages/kit/src/module/define.ts
Labels: bug, kit

#2243 fix(schema): fix typo for `import.meta.globEager`
  packages/schema/src/types/global/vite.ts
Labels: bug, schema

#2260 fix(nuxt3): use resolved options for `useCookie`
  packages/nuxt3/src/app/composables/cookie.ts
Labels: bug, nuxt3

#2283 docs: update 3rd party bridge imports to use `#imports`
  docs/content/1.getting-started/4.bridge-composition-api.md
Labels: documentation, bridge

#2191 fix(nitro): fix rendering with `ssr` disabled
  packages/nitro/src/runtime/app/render.ts
Labels: pending

#2301 fix(nitro): set content-type header before html 404
  packages/nitro/src/runtime/server/error.ts
Labels: bug, nitro

#2340 feat(nuxt3): add global type definitions for built-in components
  packages/nuxt3/src/meta/runtime/plugin.ts
  packages/nuxt3/src/pages/runtime/router.ts
Labels: enhancement, nuxt3, pages, meta

#2302 fix(schema): type `render.compressor`
  packages/schema/src/config/render.ts
Labels: bug, schema

#2319 fix(bridge): normalize strings in vite middleware template
  packages/bridge/src/vite/templates.ts
Labels: bug

#2376 fix(nuxt3): don't mock server-only properties on client-side
  packages/nuxt3/src/app/compat/legacy-app.ts
Labels: bug, nuxt3

#2352 fix(nuxt3): import computed from `vue` to preserve reactivity
  packages/nuxt3/src/app/composables/component.ts
  packages/nuxt3/src/meta/runtime/composables.ts
Labels: bug, nuxt3

#2420 fix(vite): log error object
  packages/vite/src/dev-bundler.ts
Labels: bug, vite

#2406 feat(nuxt): add wrapped `useRoute` and `useRouter` composables
  packages/bridge/src/auto-imports.ts
  packages/nuxt3/src/auto-imports/imports.ts
  packages/nuxt3/src/pages/module.ts
  packages/nuxt3/src/pages/runtime/composables.ts
Labels: enhancement, nuxt3

#2399 fix(nuxt3): add `imports.d.ts` to `nuxt.d.ts`
  packages/nuxt3/src/auto-imports/module.ts
Labels: bug, nuxt3

#2403 fix(nitro): correct `#assets` type declaration
  packages/nitro/types/shims.d.ts
Labels: bug, nitro

#2347 fix(nuxt3): ignore tests within components directory
  packages/nuxt3/src/components/module.ts
Labels: bug, nuxt3, components

#2387 fix(nitro): pass sourcemap option through to rollup plugins
  packages/nitro/src/rollup/config.ts
Labels: bug, nitro, upstream

#2388 perf(bridge): allow skipping legacy composition api support
  docs/content/1.getting-started/3.bridge.md
  packages/bridge/src/capi.ts
  packages/bridge/src/module.ts
  packages/bridge/types.d.ts
Labels: enhancement, bridge

#2443 fix(nuxt3): define route in plugin rather than composable
  packages/nuxt3/src/pages/runtime/composables.ts
  packages/nuxt3/src/pages/runtime/router.ts
Labels: bug, nuxt3

#2432 refactor(nuxt3): rename `<NuxtChild>` to `<NuxtNestedPage>`
  docs/content/3.docs/2.directory-structure/9.pages.md
  examples/with-pages/pages/parent.vue
  packages/nuxt3/src/pages/runtime/nested-page.vue
  packages/nuxt3/src/pages/runtime/router.ts
Labels: enhancement, nuxt3

#2413 feat(nitro, nuxt3, bridge): expose `writeTypes` and call this within `builder:generateApp`
  packages/bridge/src/nitro.ts
  packages/nitro/src/build.ts
  packages/nuxt3/src/core/nitro.ts
Labels: enhancement, nitro

#2382 feat(nitro): specify packages to copy to `.output/server/node_modules`
  packages/nitro/src/rollup/config.ts
  packages/nitro/src/rollup/plugins/externals.ts
Labels: enhancement, nitro

#2456 fix(schema): handle null/undefined values in `runtimeConfig`
  packages/nitro/src/rollup/config.ts
  packages/schema/src/config/_common.ts
Labels: bug, schema

#2173 feat(nuxt3, bridge): `useReqHeaders` composable
  docs/content/3.docs/1.usage/1.data-fetching.md
  docs/content/3.docs/1.usage/7.ssr.md
  packages/bridge/src/runtime/composables.ts
  packages/bridge/src/runtime/ssr.ts
  packages/nuxt3/src/app/composables/index.ts
  packages/nuxt3/src/app/composables/ssr.ts
  packages/nuxt3/src/auto-imports/imports.ts
  packages/nuxt3/test/auto-imports.test.ts
Labels: enhancement, bridge, nuxt3

#2339 fix(bridge): respect custom `app.html`
  packages/bridge/src/nitro.ts
Labels: bug, bridge

#2162 feat(nuxi): add `nuxi preview` command for local testing
  docs/content/1.getting-started/5.commands.md
  packages/nitro/src/build.ts
  packages/nitro/src/context.ts
  packages/nitro/src/presets/azure.ts
  packages/nitro/src/presets/azure_functions.ts
  packages/nitro/src/presets/cloudflare.ts
  packages/nitro/src/presets/firebase.ts
  packages/nitro/src/presets/server.ts
  packages/nitro/src/utils/index.ts
  packages/nuxi/src/commands/index.ts
  packages/nuxi/src/commands/preview.ts
Labels: enhancement, nitro, cli

#2481 fix(nuxt3): don't mutate options when unsetting cookie
  packages/nuxt3/src/app/composables/cookie.ts
Labels: bug, nuxt3

#2275 feat(kit, schema)!: finalize nuxt 3 module spec and utils
  packages/bridge/build.config.ts
  packages/bridge/module.cjs
  packages/bridge/src/auto-imports.ts
  packages/bridge/src/meta.ts
  packages/bridge/src/module.ts
  packages/bridge/src/vite/module.ts
  packages/bridge/types.d.ts
  packages/kit/src/compatibility.ts
  packages/kit/src/components.ts
  packages/kit/src/module/container.ts
  packages/kit/src/module/define.ts
  packages/kit/src/module/install.ts
  packages/nuxt3/build.config.ts
  packages/nuxt3/src/core/nuxt.ts
  packages/schema/build.config.ts
  packages/schema/src/config/_common.ts
  packages/schema/src/index.ts
  packages/schema/src/types/compatibility.ts
  packages/schema/src/types/hooks.ts
  packages/schema/src/types/module.ts
Labels: enhancement, kit, nuxt3

#2183 feat(auto-import): allow explicit transform exclusion patterns
  packages/nuxt3/src/auto-imports/context.ts
  packages/nuxt3/src/auto-imports/module.ts
  packages/nuxt3/src/auto-imports/transform.ts
  packages/nuxt3/test/auto-imports.test.ts
  packages/schema/src/types/imports.ts
Labels: pending

#2408 feat(nuxt3, bridge): add `vue:setup` hook
  docs/content/1.getting-started/4.bridge-composition-api.md
  packages/bridge/src/capi.ts
  packages/bridge/src/runtime/capi.legacy.mjs
  packages/bridge/src/runtime/capi.legacy.plugin.mjs
  packages/bridge/src/runtime/capi.plugin.mjs
  packages/nuxt3/src/app/components/nuxt-root.vue
  packages/nuxt3/src/app/nuxt.ts
Labels: enhancement, bridge, nuxt3
