Repository nuxt/framework, pull requests merged in 2021-11, with the labels that each got.

#1626 fix(nitro): narrow replace call for template name
  packages/nitro/src/build.ts
Labels: bug, nitro

#1625 fix(nuxi): generate types with `nuxi generate`
  packages/nuxi/src/commands/generate.ts
Labels: bug, cli

#1606 fix(nuxt3): only add ref if types were generated
  packages/nuxt3/src/components/module.ts
Labels: bug, nuxt3

#1603 fix(nuxt3): add `vue-router` types when used
  packages/nuxt3/src/pages/module.ts
Labels: bug, nuxt3

#1599 fix(bridge): expose `nuxi` command
  packages/bridge/bin/nuxt.mjs
  packages/bridge/package.json
  yarn.lock
Labels: bug, bridge

#1598 fix(nuxi, kit): import individual semver function
  packages/kit/src/module/utils.ts
  packages/nuxi/src/utils/engines.ts
Labels: bug, cli

#1623 feat!(bridge): allow accessing injections from `useNuxtApp`
  packages/bridge/src/runtime/app.plugin.mjs
Labels: bug, enhancement, bridge

#1588 fix(nuxt3): enable legacy access to $config and static flags
  packages/nuxt3/src/app/legacy.ts
Labels: bug, enhancement, nuxt3

#1439 feat(nuxt3): add `importMeta` types for vite and webpack
  packages/kit/src/index.ts
  packages/kit/src/types/global/index.ts
  packages/kit/src/types/global/vite.ts
  packages/kit/src/types/global/webpack.ts
Labels: bug, bridge, nuxt3

#1624 fix(vite): remove conflicting vite aliases
  packages/bridge/src/vite/vite.ts
  packages/vite/src/vite.ts
Labels: bug, vite, bridge

#1649 fix(nuxt3): use nuxt extensions for component discovery
  packages/kit/src/config/schema/_common.ts
  packages/nuxt3/src/components/module.ts
Labels: bug, nuxt3

#1643 fix(nuxi): satisfies isn't always default export
  packages/nuxi/src/utils/engines.ts
Labels: bug, cli

#1650 fix(vite): normalize full windows paths
  packages/vite/src/dev-bundler.ts
Labels: bug, vite

#1669 docs: add migration guide for bridge composition api
  docs/content/1.getting-started/1.introduction.md
  docs/content/1.getting-started/3.bridge.md
  docs/content/1.getting-started/4.bridge-composition-api.md
  docs/content/1.getting-started/5.commands.md
  docs/content/1.getting-started/6.migration.md
  packages/bridge/src/runtime/capi.legacy.mjs
Labels: documentation, bridge

#1646 fix(vite): remove relative vite workaround
  packages/vite/src/dev-bundler.ts
Labels: bug, vite

#1696 fix(vite): expose underlying import errors
  packages/vite/src/dev-bundler.ts
Labels: dx, vite

#1694 docs: add initial guide to node + es modules
  docs/content/1.getting-started/3.bridge.md
  docs/content/1.getting-started/6.migration.md
  docs/content/2.concepts/4.esm.md
Labels: documentation

#1734 fix(vite): use `forEach` on NodeList not Element
  packages/vite/src/plugins/dev-ssr-css.ts
Labels: bug, nuxt3

#1735 fix(nuxt3): add missing auto imports
  packages/bridge/src/auto-imports.ts
  packages/bridge/test/auto-imports.test.ts
  packages/nuxt3/src/auto-imports/imports.ts
  packages/nuxt3/test/auto-imports.test.ts
Labels: bug, bridge, nuxt3

#1784 chore: bump monaco version
  packages/nitro/src/server/vfs.ts
Labels: chore

#1740 feat(kit, nuxt3): add `pages:extend` and `extendPages`
  examples/module-extend-pages/modules/pages/index.ts
  examples/module-extend-pages/modules/pages/pages/test.vue
  examples/module-extend-pages/nuxt.config.ts
  examples/module-extend-pages/package.json
  examples/module-extend-pages/pages/index.vue
  examples/module-extend-pages/tsconfig.json
  packages/kit/src/module/container.ts
  packages/kit/src/module/utils.ts
  packages/kit/src/types/hooks.ts
  packages/nuxt3/src/pages/module.ts
  packages/nuxt3/src/pages/utils.ts
  yarn.lock
Labels: enhancement, nuxt3

#1789 feat(bridge): add `useNuxt2Meta()` composable
  docs/content/1.getting-started/4.bridge-composition-api.md
  packages/bridge/src/auto-imports.ts
  packages/bridge/src/runtime/composables.ts
Labels: documentation, enhancement, bridge

#1783 fix(nitro, nuxi): add runtimeConfig types (for `#config` and `useRuntimeConfig()`)
  docs/content/3.docs/1.usage/5.runtime-config.md
  packages/bridge/src/nitro.ts
  packages/bridge/src/runtime/composables.ts
  packages/kit/src/index.ts
  packages/kit/src/types/runtime-config.ts
  packages/nitro/types/shims.d.ts
  packages/nuxi/src/utils/prepare.ts
  packages/nuxt3/src/app/nuxt.ts
Labels: documentation, enhancement, nitro

#1824 fix(nuxi): default to skipping lib check
  packages/nuxi/src/utils/prepare.ts
Labels: enhancement, cli

#1827 fix(nuxi): set `allowSyntheticDefaultImports`
  packages/nuxi/src/utils/prepare.ts
Labels: bug, cli

#1822 docs: add brief note about how to check types manually
  docs/content/2.concepts/3.typescript.md
Labels: documentation

#1820 feat: add `<Html>` meta component
  docs/content/3.docs/1.usage/3.meta-tags.md
  examples/use-meta/app.vue
  packages/nuxt3/src/meta/runtime/components.ts
Labels: enhancement, nuxt3

#1871 fix(bridge): update `useContext`
  packages/bridge/src/runtime/capi.legacy.mjs
Labels: bug, bridge

#1861 feat(nuxt3, bridge): add lazy helpers (`useLazyAsyncData` and `useLazyFetch`)
  docs/content/1.getting-started/4.bridge-composition-api.md
  docs/content/3.docs/1.usage/1.data-fetching.md
  packages/bridge/package.json
  packages/bridge/src/runtime/app.plugin.mjs
  packages/bridge/src/runtime/asyncData.ts
  packages/bridge/src/runtime/composables.ts
  packages/bridge/src/runtime/fetch.ts
  packages/bridge/src/runtime/vue2-bridge.d.ts
  packages/nuxt3/src/app/composables/asyncData.ts
  packages/nuxt3/src/app/composables/fetch.ts
  packages/nuxt3/src/app/composables/index.ts
  packages/nuxt3/src/auto-imports/imports.ts
  yarn.lock
Labels: documentation, enhancement, bridge, nuxt3

#1930 fix(nuxi): create buildDir before writing types
  packages/nuxi/src/commands/prepare.ts
Labels: bug, cli

#1924 fix(bridge): ensure `vue` ts alias points to original vue
  docs/content/1.getting-started/3.bridge.md
  packages/bridge/src/app.ts
Labels: bug, bridge

#1929 fix(nuxt3): enable app-level `<suspense>` with pages module
  packages/nuxt3/src/pages/module.ts
  packages/nuxt3/src/pages/runtime/root.vue
Labels: bug, nuxt3

#1933 fix(nuxt3): enable `useAsyncData` and `useFetch` usage within plugins
  docs/content/3.docs/1.usage/1.data-fetching.md
  packages/nuxt3/src/app/composables/asyncData.ts
Labels: bug, nuxt3

#1934 docs: add documentation on data fetching return types
  docs/content/3.docs/1.usage/1.data-fetching.md
Labels: documentation, nuxt3

#1972 fix(nuxi): handle missing typescript options in build
  packages/nuxi/src/utils/prepare.ts
Labels: bug, cli

#1971 fix(nuxi): ignore static check with `prepare` command
  packages/bridge/src/nitro.ts
  packages/nuxi/src/commands/prepare.ts
Labels: bug, bridge, cli

#2001 feat(nuxt3): automatically inject returns from plugins
  docs/content/3.docs/1.usage/4.nuxt-app.md
  docs/content/3.docs/2.directory-structure/10.plugins.md
  packages/nuxt3/src/app/nuxt.ts
  packages/nuxt3/src/core/nuxt.ts
  packages/nuxt3/src/core/templates.ts
  packages/nuxt3/src/pages/runtime/router.ts
Labels: enhancement, nuxt3

#2010 fix(bridge): add docs links and warnings for data composables
  docs/content/1.getting-started/4.bridge-composition-api.md
  packages/bridge/src/runtime/capi.legacy.mjs
Labels: documentation, bridge

#1988 feat(kit): add more specific typings for schema
  packages/kit/build.config.ts
  packages/kit/src/config/schema/_adhoc.ts
  packages/kit/src/config/schema/_app.ts
  packages/kit/src/config/schema/_common.ts
  packages/kit/src/config/schema/build.ts
  packages/kit/src/config/schema/cli.ts
  packages/kit/src/config/schema/index.ts
  packages/kit/src/types/components.ts
  packages/kit/src/types/config.ts
  packages/nuxt3/src/components/module.ts
  packages/nuxt3/src/meta/runtime/types.ts
  yarn.lock
Labels: enhancement, kit

#2039 docs: update `nuxt.config` introduction
  docs/scripts/nuxt.config.md
Labels: documentation

#2038 docs: update command in bridge migration
  docs/content/1.getting-started/3.bridge.md
Labels: documentation, bridge

#2079 fix(cli): enable `usage` command
  packages/nuxi/src/commands/usage.ts
  packages/nuxi/src/index.ts
Labels: bug, cli

#2090 fix(nitro): add error logging to `initWorker`
  packages/nitro/src/server/dev.ts
Labels: nitro, dx

#2103 fix(schema, nuxt3): export meta types from schema
  packages/nuxt3/src/meta/runtime/composables.ts
  packages/nuxt3/src/meta/runtime/index.ts
  packages/schema/src/index.ts
  packages/schema/src/types/meta.ts
Labels: bug, nuxt3, schema

#2105 fix(schema): remove stray `nuxt3` import
  packages/schema/build.config.ts
  packages/schema/src/config/_app.ts
Labels: bug, schema

#2107 fix(nitro): respect fs structure for traced files
  packages/nitro/src/rollup/plugins/externals.ts
Labels: bug, nitro

#2108 docs: update runtimeconfig augmentation
  docs/content/3.docs/1.usage/5.runtime-config.md
Labels: documentation, schema

#2135 fix(vite): don't copy `publicDir` files to `_nuxt`
  packages/nitro/src/build.ts
  packages/nitro/src/utils/index.ts
  packages/vite/src/vite.ts
Labels: bug, vite

#2131 fix(schema): extend `NuxtOptions` for nitro & bridge types
  packages/bridge/types.d.ts
  packages/nitro/types/index.d.ts
  packages/schema/src/types/config.ts
Labels: bug, schema

#2132 feat(nuxi): add `typecheck` command using `vue-tsc`
  docs/content/1.getting-started/5.commands.md
  docs/content/2.concepts/3.typescript.md
  packages/nuxi/src/commands/index.ts
  packages/nuxi/src/commands/typecheck.ts
  packages/schema/src/config/_internal.ts
Labels: enhancement, cli

#2130 fix(nuxt3): handle hydration for `error` and `pending` state
  packages/bridge/src/runtime/app.plugin.mjs
  packages/nuxt3/src/app/composables/asyncData.ts
  packages/nuxt3/src/app/nuxt.ts
Labels: bug, bridge, nuxt3

#2143 fix(nuxi): add `nuxt3` to dev deps in upgrade command
  packages/nuxi/src/commands/upgrade.ts
Labels: bug, cli

#2166 docs: add note for bridge users about `defineNuxtPlugin`
  docs/content/1.getting-started/3.bridge.md
Labels: documentation, bridge

#2209 docs: remove need to add `vueCompilerOptions` at top-level `tsconfig.json`
  docs/content/1.getting-started/3.bridge.md
Labels: documentation, bridge

#2174 feat(bridge): generate components declarations
  packages/bridge/src/app.ts
Labels: enhancement, bridge, components

#2153 perf(nuxt3): don't include null errors in payload
  packages/nuxt3/src/app/composables/asyncData.ts
Labels: enhancement, nuxt3

#1978 fix(nitro): use `app.assetsPath` for `publicPath`
  packages/nitro/src/context.ts
Labels: pending
