Repository nuxt/framework, pull requests merged in 2022-01, with the labels that each got.

#2615 fix(nitro): pass `Headers` to `createFetch`
  packages/nitro/src/runtime/server/index.ts
Labels: bug, nitro

#2559 docs: add Stackblitz links for examples
  examples/README.md
  scripts/update-examples.ts
Labels: pending

#2668 fix(nuxt3): handle legacy `asyncData` (options api) as `ref`
  packages/nuxt3/src/app/composables/component.ts
Labels: bug, nuxt3

#2753 fix(vite): don't convert node builtins to path URLs
  packages/vite/src/dev-bundler.ts
Labels: bug, vite

#2742 feat(nitro): ssl nitro support in production
  packages/nitro/src/runtime/entries/server.ts
Labels: enhancement, nitro

#2736 fix(bridge): add missing process flags for vite
  packages/bridge/src/vite/vite.ts
Labels: bug, vite, bridge

#2738 chore: replace `substr` with `slice`
  packages/nitro/src/rollup/plugins/middleware.ts
  packages/nitro/src/runtime/app/render.ts
  packages/nitro/src/server/middleware.ts
  packages/nitro/src/utils/index.ts
  packages/vite/src/utils/index.ts
Labels: chore

#2725 fix(vite): invalidate virtual modules when templates are regenerated
  packages/bridge/src/vite/server.ts
  packages/vite/src/server.ts
Labels: bug, vite, nuxt3

#2737 fix(kit): don't ignore `@` alias
  packages/kit/src/resolve.ts
Labels: bug, kit

#2755 docs: add the environment variables server preset supports
  docs/content/3.docs/3.deployment/99.presets/server.md
Labels: documentation, nitro

#2764 fix(nuxt3): ignore comments for testing cjs context
  packages/nuxt3/src/auto-imports/transform.ts
Labels: bug, nuxt3

#2765 feat(nuxt3): pass `nuxtApp` to `head()`
  packages/nuxt3/src/meta/runtime/plugin.ts
Labels: enhancement, nuxt3

#2771 fix(nitro): detect routes and middleware starting with dots
  packages/nitro/src/server/middleware.ts
Labels: bug, nitro

#2774 fix(nuxt3): import top-level files and subdirectory indices
  docs/content/3.docs/2.directory-structure/10.plugins.md
  docs/content/3.docs/2.directory-structure/5.composables.md
  packages/kit/src/resolve.ts
  packages/nuxt3/src/auto-imports/composables.ts
  packages/nuxt3/src/core/app.ts
Labels: enhancement, nuxt3

#2655 feat: improve base url options
  packages/bridge/src/nitro.ts
  packages/bridge/src/vite/client.ts
  packages/bridge/src/vite/manifest.ts
  packages/bridge/src/vite/server.ts
  packages/bridge/src/vite/vite.ts
  packages/nitro/src/build.ts
  packages/nitro/src/context.ts
  packages/nitro/src/presets/browser.ts
  packages/nitro/src/rollup/config.ts
  packages/nitro/src/runtime/app/config.ts
  packages/nitro/src/runtime/app/paths.ts
  packages/nitro/src/runtime/app/render.ts
  packages/nitro/src/runtime/entries/cloudflare.ts
  packages/nitro/src/runtime/entries/server.ts
  packages/nitro/src/runtime/server/index.ts
  packages/nitro/src/runtime/server/static.ts
  packages/nitro/src/server/dev.ts
  packages/nitro/src/server/middleware.ts
  packages/nitro/src/utils/index.ts
  packages/nitro/types/shims.d.ts
  packages/nuxt3/src/core/nitro.ts
  packages/nuxt3/src/pages/runtime/router.ts
  packages/schema/src/config/_app.ts
  packages/schema/src/config/build.ts
  packages/schema/src/config/generate.ts
  packages/schema/src/config/router.ts
  packages/schema/src/types/hooks.ts
  packages/vite/src/client.ts
  packages/vite/src/manifest.ts
  packages/vite/src/plugins/dev-ssr-css.ts
  packages/vite/src/plugins/dynamic-base.ts
  packages/vite/src/server.ts
  packages/vite/src/utils/index.ts
  packages/vite/src/vite.ts
  packages/webpack/src/configs/client.ts
  packages/webpack/src/configs/server.ts
  packages/webpack/src/presets/base.ts
  packages/webpack/src/webpack.ts
Labels: bug, enhancement, nitro, vite, webpack, bridge, schema

#2813 fix(nuxi): respect custom pages directory
  packages/nuxi/src/commands/dev.ts
Labels: bug, cli

#2809 fix(nuxt3): only treeshake macro exports when building
  packages/nuxt3/src/pages/macros.ts
  packages/nuxt3/src/pages/module.ts
Labels: bug, vite, nuxt3, ❗ p4-important

#2773 feat(nuxt3): allow disabling vue type shims
  docs/content/1.getting-started/1.introduction.md
  packages/nuxt3/src/app/types/index.d.ts
  packages/nuxt3/src/app/types/shims.d.ts
  packages/nuxt3/src/core/nuxt.ts
  packages/nuxt3/src/core/templates.ts
  packages/schema/src/config/typescript.ts
Labels: documentation, nuxt3

#2808 fix(bridge): set `app.basePath`
  packages/bridge/src/nitro.ts
  packages/nitro/src/context.ts
Labels: bug, nitro, bridge

#2835 docs: fix layout meta example
  docs/content/3.docs/2.directory-structure/6.layouts.md
Labels: documentation

#2830 docs: correct bridge codesandbox
  docs/content/4.community/2.reporting-bugs.md
Labels: documentation

#2829 chore(webpack): prevent implicit externalising
  packages/webpack/build.config.ts
  packages/webpack/package.json
  yarn.lock
Labels: webpack, chore, 🧹 p1-chore

#2828 fix(nuxt3): export composable types
  packages/nuxt3/src/app/composables/index.ts
  packages/nuxt3/test/auto-imports.test.ts
Labels: enhancement, nuxt3, 🍰 p2-nice-to-have

#2827 fix(bridge): don't override existing `baseURL` property
  packages/bridge/src/nitro.ts
Labels: bug, bridge, 🍰 p2-nice-to-have

#2825 fix(nuxt3): normalize page paths (for windows support)
  packages/nuxt3/src/pages/utils.ts
Labels: bug, nuxt3, 🔨 p3-minor-bug

#2826 feat(nitro): support adding `node_modules` as middleware
  packages/nitro/src/server/middleware.ts
Labels: bug, nitro, 🔨 p3-minor-bug

#2850 fix(nuxt3): explicitly declare type exports
  packages/nuxt3/src/app/composables/index.ts
  packages/nuxt3/test/auto-imports.test.ts
Labels: bug, nuxt3, 🔥 p5-urgent

#2852 fix(schema): support inline module options
  packages/schema/src/config/_common.ts
Labels: 🔨 p3-minor-bug

#2871 docs(schema): fix typo
  packages/schema/src/config/build.ts
Labels: documentation

#2866 docs(esm): fix typo
  docs/content/2.concepts/4.esm.md
Labels: documentation

#2859 fix(nuxt3): allow customising page keys
  docs/content/3.docs/2.directory-structure/9.pages.md
  examples/with-pages/app.vue
  examples/with-pages/pages/parent/reload-[id].vue
  examples/with-pages/pages/parent/static-[id].vue
  packages/nuxt3/src/pages/runtime/composables.ts
  packages/nuxt3/src/pages/runtime/nested-page.vue
  packages/nuxt3/src/pages/runtime/page.vue
Labels: bug, nuxt3, pages, 🔨 p3-minor-bug

#2708 fix(bridge): Build fails with SSR turned off
  packages/bridge/src/vite/server.ts
Labels: vite, bridge, 🔥 p5-urgent

#2851 fix(vite): handle emitted assets with relative urls and dynamic base
  packages/vite/src/client.ts
  packages/vite/src/plugins/dynamic-base.ts
  packages/vite/src/vite.ts
Labels: bug, vite, 🔥 p5-urgent

#2834 feat(nuxt3): add import protection patterns
  packages/nuxt3/src/core/nitro.ts
  packages/nuxt3/src/core/nuxt.ts
  packages/nuxt3/src/core/plugins/import-protection.ts
Labels: enhancement, dx, nuxt3, 🍰 p2-nice-to-have

#2409 fix(nuxi,nuxt3,bridge): generate all templates with `nuxi prepare`
  packages/bridge/src/app.ts
  packages/bridge/src/nitro.ts
  packages/nuxi/src/commands/prepare.ts
  packages/nuxi/src/utils/prepare.ts
  packages/nuxt3/src/core/builder.ts
Labels: bug, enhancement, pending, nuxt3, 🔨 p3-minor-bug

#2861 feat(nuxt3)!: support layout transitions
  docs/content/3.docs/2.directory-structure/9.pages.md
  packages/nuxt3/src/pages/runtime/composables.ts
  packages/nuxt3/src/pages/runtime/page.vue
Labels: enhancement, nuxt3, pages, 🍰 p2-nice-to-have

#2858 feat(nuxt3): add middleware via route meta
  .markdownlintignore
  docs/.gitignore
  docs/content/1.getting-started/6.migration.md
  docs/content/3.docs/2.directory-structure/10.pages.md
  docs/content/3.docs/2.directory-structure/11.plugins.md
  docs/content/3.docs/2.directory-structure/12.public.md
  docs/content/3.docs/2.directory-structure/13.server.md
  docs/content/3.docs/2.directory-structure/14.gitignore.md
  docs/content/3.docs/2.directory-structure/15.app.md
  docs/content/3.docs/2.directory-structure/17.package.md
  docs/content/3.docs/2.directory-structure/18.tsconfig.md
  docs/content/3.docs/2.directory-structure/7.middleware.md
  docs/content/3.docs/2.directory-structure/9.node_modules.md
  docs/scripts/gen-docs.ts
  examples/with-middleware/app.vue
  examples/with-middleware/middleware/always-run.global.ts
  examples/with-middleware/middleware/redirect-me.ts
  examples/with-middleware/nuxt.config.ts
  examples/with-middleware/package.json
  examples/with-middleware/pages/forbidden.vue
  examples/with-middleware/pages/index.vue
  examples/with-middleware/pages/redirect.vue
  examples/with-middleware/pages/secret.vue
  examples/with-middleware/plugins/add.ts
  examples/with-middleware/tsconfig.json
  packages/nuxt3/src/app/nuxt.ts
  packages/nuxt3/src/pages/module.ts
  packages/nuxt3/src/pages/runtime/composables.ts
  packages/nuxt3/src/pages/runtime/router.ts
  packages/nuxt3/src/pages/utils.ts
  packages/schema/src/types/hooks.ts
  yarn.lock
Labels: enhancement, nuxt3, pages, 🍰 p2-nice-to-have

#2905 docs(migration): update comparison table
  docs/content/1.getting-started/6.migration.md
Labels: documentation

#2904 feat(nuxt3): add support for `<KeepAlive>`
  packages/nuxt3/src/pages/runtime/composables.ts
  packages/nuxt3/src/pages/runtime/page.ts
  packages/nuxt3/src/pages/runtime/page.vue
  packages/nuxt3/src/pages/runtime/router.ts
Labels: bug, enhancement, nuxt3, 🍰 p2-nice-to-have

#2926 feat(nuxt3): make layout and other page meta reactive
  docs/content/3.docs/2.directory-structure/6.layouts.md
  packages/nuxt3/src/pages/module.ts
  packages/nuxt3/src/pages/runtime/composables.ts
  packages/nuxt3/src/pages/runtime/page.ts
  packages/nuxt3/src/pages/runtime/router.ts
Labels: bug, enhancement, app, dx, nuxt3, pages, ❗ p4-important

#2930 fix(vite): only apply relative url fix to css assets
  packages/vite/src/plugins/dynamic-base.ts
Labels: bug, vite, 🔥 p5-urgent

#2932 test(nuxt3): fix exclude test
  packages/nuxt3/test/auto-imports.test.ts
Labels: chore, 🧹 p1-chore

#2937 fix(nuxt3): add `app:suspense:resolve` hooks
  packages/nuxt3/src/app/bootstrap.ts
  packages/nuxt3/src/app/components/nuxt-root.vue
  packages/nuxt3/src/app/nuxt.ts
Labels: bug, nuxt3, 🔨 p3-minor-bug

#2936 feat(nuxi): clear cache on upgrade
  packages/nuxi/src/commands/upgrade.ts
Labels: enhancement, cli

#2945 feat(nuxt3): middleware type generation improvements
  packages/nuxt3/package.json
  packages/nuxt3/src/auto-imports/context.ts
  packages/nuxt3/src/core/plugins/import-protection.ts
  packages/nuxt3/src/core/templates.ts
  packages/nuxt3/src/pages/module.ts
  packages/nuxt3/src/pages/utils.ts
  packages/schema/src/config/_common.ts
  packages/schema/src/types/hooks.ts
  packages/vite/package.json
  packages/vite/src/plugins/dynamic-base.ts
  packages/webpack/package.json
  packages/webpack/src/presets/base.ts
  yarn.lock
Labels: bug, enhancement, nuxt3, 🔨 p3-minor-bug

#2949 fix(nuxt3): hotfix for missing components declaration
  packages/nuxt3/src/components/module.ts
Labels: bug, nuxt3, 🔨 p3-minor-bug

#2953 fix(nuxt3): don't double-escape extensions
  packages/nuxt3/src/core/templates.ts
Labels: bug, nuxt3, 🔨 p3-minor-bug

#2962 docs: minor nuxt module doc change
  docs/content/3.docs/4.advanced/2.modules.md
Labels: documentation

#2971 fix(vite): externalize `#config` at rollup, not ssr level
  packages/vite/src/server.ts
Labels: bug, vite, 🔨 p3-minor-bug

#2960 docs: add "Are you courageously Nuxt" subsection
  docs/content/2.concepts/1.introduction.md
Labels: documentation

#3005 docs: add links to discussions for work-in-progress
  docs/content/1.getting-started/6.migration.md
Labels: documentation

#3011 refactor!: extract `<NuxtLayout>` from `<NuxtPage>`
  docs/content/3.docs/2.directory-structure/15.app.md
  packages/nuxt3/src/pages/runtime/app.vue
  packages/nuxt3/src/pages/runtime/layout.ts
  packages/nuxt3/src/pages/runtime/page.ts
  packages/nuxt3/src/pages/runtime/utils.ts
Labels: enhancement, nuxt3, pages, 🍰 p2-nice-to-have
