Repository nuxt/framework, pull requests merged in 2022-02, with the labels that each got.

#3035 fix(nuxt3): remove existing globals from auto-imports
  packages/nuxt3/src/auto-imports/imports.ts
  packages/nuxt3/test/auto-imports.test.ts
Labels: bug, nuxt3, 🍰 p2-nice-to-have

#3044 fix(bridge): add `nitro:generate` hook
  packages/bridge/src/nitro.ts
Labels: bug, bridge, 🍰 p2-nice-to-have

#3057 fix(bridge): type `useNuxtApp()`
  packages/bridge/src/runtime/app.ts
Labels: bug, ❗ p4-important

#3056 chore: replace constructors with types
  packages/kit/src/auto-import.ts
  packages/kit/src/plugin.ts
  packages/nitro/src/rollup/plugins/assets.ts
  packages/schema/src/types/compatibility.ts
  packages/schema/src/types/components.ts
  packages/schema/src/types/imports.ts
Labels: chore, 🧹 p1-chore

#3050 fix(bridge): don't instantiate vite builder if only preparing types
  packages/bridge/src/vite/module.ts
Labels: bug, bridge, 🔨 p3-minor-bug

#3091 docs: update links to new vuejs.org site
  docs/content/2.concepts/1.introduction.md
  docs/content/3.docs/1.usage/1.data-fetching.md
  docs/content/3.docs/1.usage/2.state.md
  docs/content/3.docs/2.directory-structure/10.pages.md
  docs/content/3.docs/2.directory-structure/15.app.md
  docs/content/3.docs/2.directory-structure/4.components.md
  docs/content/3.docs/2.directory-structure/7.middleware.md
  docs/content/3.docs/4.advanced/1.nuxt.md
  docs/content/3.docs/4.advanced/4.hooks.md
  docs/content/index.md
  packages/schema/src/config/_app.ts
Labels: documentation

#3090 docs: add `keepalive` docs
  docs/content/3.docs/2.directory-structure/10.pages.md
  packages/nuxt3/src/pages/runtime/composables.ts
Labels: documentation

#3067 refactor: write declarations to `<buildDir>/types`
  packages/bridge/src/app.ts
  packages/bridge/src/nitro.ts
  packages/kit/src/template.ts
  packages/nitro/src/build.ts
  packages/nuxi/src/utils/prepare.ts
  packages/nuxt3/src/auto-imports/module.ts
  packages/nuxt3/src/components/module.ts
  packages/nuxt3/src/components/templates.ts
  packages/nuxt3/src/core/app.ts
  packages/nuxt3/src/core/nitro.ts
  packages/nuxt3/src/core/nuxt.ts
  packages/nuxt3/src/core/templates.ts
  packages/nuxt3/src/pages/module.ts
Labels: chore, refactor, types

#2819 docs: update documentation for configs
  packages/schema/src/config/_common.ts
Labels: documentation

#2976 fix(nuxt3)!: key routes by interpolated path
  docs/content/3.docs/2.directory-structure/10.pages.md
  examples/with-pages/pages/parent.vue
  examples/with-pages/pages/parent/reload-[id].vue
  examples/with-pages/pages/parent/static-[id].vue
  packages/nuxt3/src/pages/runtime/composables.ts
  packages/nuxt3/src/pages/runtime/nested-page.vue
  packages/nuxt3/src/pages/runtime/page.ts
  packages/nuxt3/src/pages/runtime/router.ts
  packages/nuxt3/src/pages/runtime/utils.ts
  packages/nuxt3/test/pages.test.ts
Labels: bug, nuxt3, 🔨 p3-minor-bug

#3070 feat(nitro): add support for lambda v2 payload format
  docs/content/3.docs/3.deployment/99.presets/lambda.md
  packages/nitro/package.json
  packages/nitro/src/runtime/entries/lambda.ts
  test/presets/lambda.test.ts
  yarn.lock
Labels: enhancement, nitro, ❗ p4-important

#2216 fix: sanitize import filenames in generated imports
  packages/bridge/package.json
  packages/bridge/src/vite/templates.ts
  packages/kit/package.json
  packages/kit/src/components.ts
  packages/kit/src/internal/template.ts
  packages/nitro/package.json
  packages/nitro/src/build.ts
  packages/nitro/src/presets/browser.ts
  packages/nitro/src/rollup/config.ts
  packages/nitro/src/rollup/plugins/assets.ts
  packages/nitro/src/rollup/plugins/dynamic-require.ts
  packages/nitro/src/rollup/plugins/middleware.ts
  packages/nitro/src/rollup/plugins/storage.ts
  packages/nuxt3/package.json
  packages/nuxt3/src/auto-imports/module.ts
  packages/nuxt3/src/auto-imports/utils.ts
  packages/nuxt3/src/components/loader.ts
  packages/nuxt3/src/components/templates.ts
  packages/nuxt3/src/core/templates.ts
  packages/nuxt3/src/pages/module.ts
  packages/nuxt3/src/pages/utils.ts
  packages/nuxt3/test/auto-imports.test.ts
  packages/vite/package.json
  packages/vite/src/dev-bundler.ts
  yarn.lock
Labels: bug, 🔨 p3-minor-bug

#3107 fix(nitro): replace `global.` in fewer instances
  packages/nitro/src/rollup/config.ts
Labels: bug, nitro, 🔨 p3-minor-bug

#3106 fix(nitro): treat bootrap dep as an entry file
  packages/nitro/src/runtime/app/render.ts
Labels: bug, nitro, ❗ p4-important

#3115 fix(nuxt3): remove lookbehind for safari support
  packages/nuxt3/src/pages/runtime/utils.ts
Labels: bug, nuxt3, pages, ❗ p4-important

#3116 fix(vite): invalidate client modules too
  packages/vite/src/server.ts
  packages/vite/src/vite.ts
Labels: bug, vite, 🔨 p3-minor-bug

#3134 fix(bridge): respect `--fail-on-error` in generation
  packages/bridge/src/nitro.ts
Labels: bug, bridge, 🔨 p3-minor-bug

#3127 fix(nuxt3): trigger template regeneration (and reset import list) when auto-imports update
  packages/nuxt3/src/auto-imports/module.ts
Labels: bug, nuxt3, 🔨 p3-minor-bug

#3096 feat(nuxt3,bridge): add automatic schema augmentation declaration
  packages/bridge/package.json
  packages/bridge/src/app.ts
  packages/kit/src/module/container.ts
  packages/kit/src/module/install.ts
  packages/nuxt3/src/core/nuxt.ts
  packages/nuxt3/src/core/templates.ts
  packages/schema/src/config/_common.ts
  yarn.lock
Labels: enhancement, nuxt3

#3136 fix(nitro): handle incoming cookies on lambda payload format 2.0
  packages/nitro/src/runtime/entries/lambda.ts
Labels: bug, nitro, 🔨 p3-minor-bug

#3143 docs(schema): clarify aliases and use more obvious example path
  packages/schema/build.config.ts
  packages/schema/src/config/_common.ts
Labels: documentation

#3180 fix(nuxt3): re-enable tree-shaking `definePageMeta`
  packages/nuxt3/src/pages/macros.ts
  packages/nuxt3/src/pages/runtime/composables.ts
Labels: bug, 🍰 p2-nice-to-have

#3192 chore(nuxt3): add implicit `fs-extra` dependency
  packages/nuxt3/package.json
  yarn.lock
Labels: chore, 🧹 p1-chore

#3213 fix(nuxt3): return render function for `<Head>`
  packages/nuxt3/src/meta/runtime/components.ts
  test/fixtures/basic/pages/index.vue
Labels: bug, 🔨 p3-minor-bug

#3201 fix(nuxt3): return error page on blocked initial navigation
  packages/nuxt3/src/pages/runtime/router.ts
Labels: bug, ❗ p4-important

#3212 fix(nuxt3): prevent removing and re-adding tags before mount
  packages/bridge/src/runtime/app.plugin.mjs
  packages/nuxt3/src/meta/runtime/lib/vueuse-head.plugin.ts
Labels: bug, nuxt3, 🔨 p3-minor-bug

#3199 fix: clean up some type issues and add type test suite
  .github/workflows/ci.yml
  package.json
  packages/nitro/package.json
  packages/nitro/src/build.ts
  packages/nitro/types/index.d.ts
  packages/nuxt3/src/app/nuxt.ts
  packages/nuxt3/src/app/types/index.ts
  packages/nuxt3/src/auto-imports/module.ts
  packages/nuxt3/src/core/nitro-legacy.ts
  packages/nuxt3/src/core/nitro-nitropack.ts
  packages/nuxt3/src/core/templates.ts
  packages/nuxt3/src/pages/runtime/page.ts
  packages/nuxt3/src/pages/runtime/router.ts
  packages/schema/src/config/_app.ts
  packages/schema/src/config/_common.ts
  packages/vite/src/dev-bundler.ts
  packages/webpack/src/configs/server.ts
  test/fixtures/basic/layouts/PascalCase.js
  test/fixtures/basic/layouts/test-layout.js
  test/fixtures/basic/middleware/PascalCase.js
  test/fixtures/basic/middleware/test-middleware.js
  test/fixtures/basic/modules/example.ts
  test/fixtures/basic/nuxt.config.ts
  test/fixtures/basic/server/api/hey/index.ts
  test/fixtures/basic/tests/types.ts
  test/fixtures/basic/tsconfig.json
  test/fixtures/bridge/server/api/hey/index.ts
  test/presets/_tests.ts
  yarn.lock
Labels: bug, test, types

#3187 feat(bridge): add support for `useNuxt2Meta` in plugins
  packages/bridge/src/runtime/composables.ts
Labels: enhancement, bridge

#3193 feat(bridge): support `addRouteMiddleware`, `navigateTo` and `abortNavigation`
  packages/bridge/src/auto-imports.ts
  packages/bridge/src/runtime/app.plugin.mjs
  packages/bridge/src/runtime/app.ts
  packages/bridge/src/runtime/composables.ts
  packages/nuxt3/src/pages/runtime/composables.ts
Labels: enhancement, bridge, 🍰 p2-nice-to-have

#3238 chore(bridge): upgrade vite
  packages/bridge/package.json
  yarn.lock
Labels: chore, 🧹 p1-chore

#3237 fix(bridge): add schema.d.ts to nuxt.d.ts
  packages/bridge/src/app.ts
Labels: bug, bridge, 🔨 p3-minor-bug

#3239 fix(bridge): add modules with hooks after all other modules
  packages/bridge/src/auto-imports.ts
  packages/bridge/src/module.ts
Labels: bug, bridge, ❗ p4-important

#3257 fix(nuxt3): update meta return type to `bodyScriptsPrepend`
  packages/nuxt3/src/app/nuxt.ts
  packages/nuxt3/src/meta/runtime/lib/vue-meta.plugin.ts
Labels: bug, nuxt3, 🍰 p2-nice-to-have

#3258 fix(bridge): execute metaInfo function
  packages/bridge/src/runtime/composables.ts
Labels: bug, bridge, ❗ p4-important

#3280 chore: reverse target/from in eslint rule
  .eslintrc
  packages/nuxt3/src/core/nuxt.ts
Labels: chore, 🧹 p1-chore

#3288 fix(nuxt3): generate imports for components with named exports correctly
  packages/nuxt3/src/components/loader.ts
  test/fixtures/basic/nuxt.config.ts
  test/fixtures/basic/other-components-folder/named-export.ts
  test/fixtures/basic/pages/index.vue
Labels: bug, nuxt3, 🔨 p3-minor-bug

#3281 fix(nuxt3,bridge): correctly reference router from client-side helper
  packages/bridge/src/runtime/composables.ts
  packages/nuxt3/src/app/compat/legacy-app.ts
  packages/nuxt3/src/pages/runtime/composables.ts
Labels: bug, bridge, nuxt3, ❗ p4-important

#3305 perf!(nuxt3): disable global components by default
  packages/nuxt3/src/components/module.ts
  packages/nuxt3/src/components/templates.ts
  packages/schema/src/types/components.ts
Labels: bug, enhancement, nuxt3, 🍰 p2-nice-to-have

#3296 docs: document auto-imports and avoid `#app` and `#imports` in examples
  docs/content/1.getting-started/3.bridge.md
  docs/content/1.getting-started/4.bridge-composition-api.md
  docs/content/2.concepts/4.auto-imports.md
  docs/content/2.concepts/5.esm.md
  docs/content/2.concepts/6.typescript.md
  docs/content/3.docs/1.usage/4.nuxt-app.md
  docs/content/3.docs/2.directory-structure/10.pages.md
  docs/content/3.docs/2.directory-structure/11.plugins.md
  docs/content/3.docs/2.directory-structure/5.composables.md
  docs/content/3.docs/4.advanced/2.modules.md
Labels: documentation

#3323 feat(nuxt3): expose `/app` export paths
  packages/bridge/src/app.ts
  packages/nuxt3/app.d.ts
  packages/nuxt3/package.json
  packages/nuxt3/src/app/index.ts
  packages/nuxt3/src/app/types/augments.d.ts
  packages/nuxt3/src/app/types/index.ts
  packages/nuxt3/src/core/plugins/import-protection.ts
  packages/nuxt3/src/meta/runtime/lib/vue-meta.plugin.ts
  packages/nuxt3/src/pages/runtime/index.ts
  packages/nuxt3/types.d.ts
  packages/vite/src/server.ts
  packages/webpack/src/configs/server.ts
Labels: enhancement, chore, 🧹 p1-chore

#3328 test: re-enable type testing
  test/fixtures/basic/types.ts
Labels: chore, test, 🧹 p1-chore

#3274 feat(nuxt3): add universal routing utilities
  examples/with-universal-router/app.vue
  examples/with-universal-router/nuxt.config.ts
  examples/with-universal-router/package.json
  examples/with-universal-router/plugins/add.ts
  examples/with-universal-router/tsconfig.json
  packages/bridge/src/auto-imports.ts
  packages/bridge/src/runtime/composables.ts
  packages/nuxt3/src/app/composables/index.ts
  packages/nuxt3/src/app/composables/router.ts
  packages/nuxt3/src/app/plugins/router.ts
  packages/nuxt3/src/auto-imports/imports.ts
  packages/nuxt3/src/pages/module.ts
  packages/nuxt3/src/pages/runtime/composables.ts
  packages/nuxt3/src/pages/runtime/router.ts
  test/fixtures/basic/types.ts
  yarn.lock
Labels: enhancement, nuxt3, 🍰 p2-nice-to-have

#3364 fix(nuxt3): respect dirs as objects
  packages/nuxt3/src/components/module.ts
Labels: bug, nuxt3, components, ❗ p4-important

#3372 fix(nuxi): don't clear screen on `nuxi dev --help`
  packages/nuxi/src/index.ts
Labels: bug, cli, 🍰 p2-nice-to-have

#3366 fix(nuxt3): don't add superfluous templates
  packages/nuxt3/src/components/module.ts
Labels: bug, nuxt3, components, 🔨 p3-minor-bug

#3345 fix(nuxt3): only warn about error handlers on client-side
  packages/nuxt3/src/app/plugins/router.ts
Labels: bug, nuxt3, 🍰 p2-nice-to-have

#3365 fix(bridge): use typescript directory entry
  packages/bridge/src/app.ts
  packages/bridge/src/runtime/index.ts
Labels: bug, bridge, 🔨 p3-minor-bug

#3375 fix(vite,webpack): disable async entrypoint by default
  packages/nuxt3/src/app/bootstrap.ts
  packages/nuxt3/src/app/entry.async.ts
  packages/nuxt3/src/app/entry.ts
  packages/schema/src/config/build.ts
  packages/schema/src/config/experimental.ts
  packages/schema/src/config/index.ts
  packages/vite/src/vite.ts
  packages/webpack/src/presets/base.ts
Labels: bug, vite, 🔨 p3-minor-bug

#3394 fix(nuxt3): only warn within error handling routine
  packages/nuxt3/src/app/plugins/router.ts
Labels: bug, nuxt3, 🍰 p2-nice-to-have

#2812 refactor(schema,webpack)!: split out webpack and postcss build options
  packages/kit/src/module/container.ts
  packages/nuxt3/package.json
  packages/nuxt3/src/core/builder.ts
  packages/schema/build.config.ts
  packages/schema/package.json
  packages/schema/src/config/build.ts
  packages/schema/src/config/index.ts
  packages/schema/src/config/postcss.ts
  packages/schema/src/config/typescript.ts
  packages/schema/src/config/vite.ts
  packages/schema/src/config/webpack.ts
  packages/schema/src/types/module.ts
  packages/vite/package.json
  packages/vite/src/css.ts
  packages/vite/src/vite.ts
  packages/webpack/build.config.ts
  packages/webpack/package.json
  packages/webpack/src/configs/client.ts
  packages/webpack/src/configs/server.ts
  packages/webpack/src/plugins/warning-ignore.ts
  packages/webpack/src/presets/assets.ts
  packages/webpack/src/presets/babel.ts
  packages/webpack/src/presets/base.ts
  packages/webpack/src/presets/esbuild.ts
  packages/webpack/src/presets/node.ts
  packages/webpack/src/presets/nuxt.ts
  packages/webpack/src/presets/pug.ts
  packages/webpack/src/presets/style.ts
  packages/webpack/src/presets/vue.ts
  packages/webpack/src/utils/babel-preset.cjs
  packages/webpack/src/utils/config.ts
  packages/webpack/src/utils/mfs.ts
  packages/webpack/src/utils/postcss.ts
  packages/webpack/src/utils/reserved-tags.ts
  packages/webpack/src/virtual-modules.ts
  packages/webpack/src/webpack.ts
  test/fixtures/basic/nuxt.config.ts
  yarn.lock
Labels: enhancement, vite, webpack, chore, kit, schema, 🍰 p2-nice-to-have

#3402 fix(vite): add cssnano dependency
  packages/vite/package.json
  yarn.lock
Labels: bug, vite, 🔨 p3-minor-bug

#3396 fix(nuxt3): share scanned components with loader
  packages/bridge/src/vite/templates.ts
  packages/kit/src/plugin.ts
  packages/nuxt3/src/auto-imports/module.ts
  packages/nuxt3/src/components/module.ts
Labels: bug, nuxt3, ❗ p4-important

#3418 docs: add examples for `useLazyFetch` and `useLazyAsyncData`
  docs/content/3.docs/1.usage/1.data-fetching.md
Labels: documentation, bridge, nuxt3

#3403 fix(schema): make postcss plugins a record type
  packages/schema/src/config/postcss.ts
Labels: bug, schema, 🍰 p2-nice-to-have

#3426 fix(nuxt3): remove redundant call to `generateApp`
  packages/nuxt3/src/components/module.ts
Labels: bug, nuxt3, ❗ p4-important

#3424 feat: `.nuxtignore` support and `isIgnored` kit utility
  packages/kit/package.json
  packages/kit/src/ignore.ts
  packages/kit/src/index.ts
  packages/kit/src/resolve.ts
  packages/nuxi/src/commands/dev.ts
  packages/nuxt3/package.json
  packages/nuxt3/src/components/module.ts
  packages/nuxt3/src/components/scan.ts
  packages/nuxt3/src/core/builder.ts
  packages/nuxt3/test/scan-components.test.ts
  packages/schema/build.config.ts
  packages/schema/src/config/_common.ts
  packages/schema/src/types/nuxt.ts
  packages/vite/src/vite.ts
  yarn.lock
Labels: enhancement, vite, kit, nuxt3

#3440 docs: add `.nuxtignore` docs
  docs/content/3.docs/2.directory-structure/17.nuxtignore.md
  docs/content/3.docs/2.directory-structure/18.package.md
  docs/content/3.docs/2.directory-structure/19.tsconfig.md
Labels: documentation, kit, nuxt3

#3436 fix(nuxt3): remove workaround for unfulfilled initial navigation
  package.json
  packages/nuxt3/src/pages/runtime/router.ts
  yarn.lock
Labels: bug, nuxt3, upstream
