Repository nuxt/framework, pull requests merged in 2022-03, with the labels that each got.

#3449 feat(nuxi): add jsx option to generated tsconfig
  packages/nuxi/src/utils/prepare.ts
Labels: enhancement, dx, cli, 🍰 p2-nice-to-have

#3474 fix(vite): narrow nuxt3 inlining config
  packages/vite/src/server.ts
Labels: bug, vite, 🔨 p3-minor-bug

#3499 fix(vite): handle base in `vite/preload-helper`
  packages/vite/src/plugins/dynamic-base.ts
Labels: bug, vite, 🔥 p5-urgent

#3528 fix(nitro): rename cold start -> nitro start
  docs/content/3.docs/3.deployment/99.presets/server.md
  packages/nitro/src/rollup/plugins/timing.ts
Labels: documentation, nitro

#3527 fix(schema): allow untyped keys in nuxt config
  packages/schema/src/types/config.ts
  test/fixtures/basic/types.ts
Labels: dx, schema

#3538 fix(bridge): port nested `_nuxt` dir fix to bridge vite
  packages/bridge/src/nitro.ts
  packages/bridge/src/vite/utils/fs.ts
Labels: bug, vite, bridge, ❗ p4-important

#3537 chore: update to nuxt/eslint-config 8
  .eslintrc
  package.json
  packages/nuxt3/src/meta/runtime/components.ts
  yarn.lock
Labels: chore, 🧹 p1-chore

#3536 feat(bridge): auto-inject based on `provide` key from plugins
  packages/bridge/src/runtime/app.ts
  test/fixtures/bridge/plugins/setup.js
Labels: enhancement, bridge, 🍰 p2-nice-to-have

#3541 fix(nitro): handle decoding static filenames
  packages/nitro/src/rollup/plugins/static.ts
  packages/nitro/src/runtime/server/static.ts
Labels: bug, nitro, 🔨 p3-minor-bug

#3515 fix(bridge): use vue server build
  packages/bridge/src/app.ts
  packages/nitro/src/rollup/config.ts
Labels: bug, bridge, ❗ p4-important

#3542 fix(kit): allow `src` for `addPluginTemplate`
  packages/kit/src/plugin.ts
  packages/schema/src/types/nuxt.ts
Labels: bug, kit

#3565 fix(bridge): handle static nested vite dirs
  packages/bridge/src/nitro.ts
Labels: bug, vite, bridge

#3593 docs(cli): specify commands that interact with node-env
  docs/content/3.docs/1.usage/8.cli.md
Labels: documentation

#3464 feat(nitro, nuxt3): allow handling otherwise unhandled runtime errors
  docs/content/3.docs/1.usage/8.error-handling.md
  examples/with-errors/app.vue
  examples/with-errors/error.vue
  examples/with-errors/middleware/error.global.ts
  examples/with-errors/nuxt.config.ts
  examples/with-errors/package.json
  examples/with-errors/pages/index.vue
  examples/with-errors/plugins/error.ts
  examples/with-errors/server/middleware/error.ts
  examples/with-errors/tsconfig.json
  packages/bridge/src/auto-imports.ts
  packages/nitro/package.json
  packages/nitro/src/runtime/app/render.ts
  packages/nitro/src/runtime/server/error.ts
  packages/nitro/src/runtime/server/index.ts
  packages/nitro/src/server/dev.ts
  packages/nuxi/package.json
  packages/nuxi/src/commands/dev.ts
  packages/nuxi/src/utils/server.ts
  packages/nuxt3/package.json
  packages/nuxt3/src/app/components/nuxt-error-page.vue
  packages/nuxt3/src/app/components/nuxt-root.vue
  packages/nuxt3/src/app/components/nuxt-welcome.vue
  packages/nuxt3/src/app/composables/error.ts
  packages/nuxt3/src/app/composables/index.ts
  packages/nuxt3/src/app/entry.ts
  packages/nuxt3/src/app/nuxt.ts
  packages/nuxt3/src/app/plugins/router.ts
  packages/nuxt3/src/auto-imports/presets.ts
  packages/nuxt3/src/core/app.ts
  packages/nuxt3/src/core/builder.ts
  packages/nuxt3/src/core/nuxt.ts
  packages/nuxt3/src/core/templates.ts
  packages/nuxt3/src/pages/module.ts
  packages/nuxt3/src/pages/runtime/router.ts
  packages/schema/src/types/nuxt.ts
  yarn.lock
Labels: enhancement, nitro, nuxt3, 🍰 p2-nice-to-have

#2795 feat(vite): experimental `vite-node` support
  package.json
  packages/nitro/src/runtime/app/render.ts
  packages/schema/src/config/experimental.ts
  packages/vite/build.config.ts
  packages/vite/package.json
  packages/vite/src/client.ts
  packages/vite/src/runtime/server.mjs
  packages/vite/src/server.ts
  packages/vite/src/vite-node.ts
  packages/vite/src/vite.ts
  playground/app.vue
  yarn.lock
Labels: enhancement, vite, 🍰 p2-nice-to-have

#3601 fix(nitro): support `process.dev`
  packages/nitro/src/rollup/config.ts
Labels: enhancement, nitro

#3603 fix(nuxt3): support extending page metadata
  packages/nuxt3/src/pages/utils.ts
Labels: enhancement, nuxt3, pages, 🍰 p2-nice-to-have

#3614 fix(schema): set static alias correctly
  packages/schema/src/config/_common.ts
Labels: bug, schema, 🔨 p3-minor-bug

#3606 feat(webpack): add `webpack:devMiddleware` and `webpack:hotMiddleware` hooks
  packages/schema/src/types/hooks.ts
  packages/webpack/src/webpack.ts
Labels: enhancement, webpack, 🍰 p2-nice-to-have

#3640 chore: upgrade `unplugin-vue2-script-setup`
  packages/bridge/package.json
  yarn.lock
Labels: chore, bridge

#3645 chore(ci): re-enable renovate for bridge
  renovate.json
Labels: chore, bridge

#3648 chore: remove non-existent extends
  playground/nuxt.config.ts
Labels: chore

#3647 docs: add vue 3 ssr starter
  .github/ISSUE_TEMPLATE/bug-report-nuxt3.yml
  docs/content/4.community/2.reporting-bugs.md
Labels: documentation

#3658 fix(nuxi): use new `builder` option for vite/webpack info
  packages/nuxi/src/commands/info.ts
Labels: bug, cli, 🔨 p3-minor-bug

#3656 fix(bridge,nitro,nuxi,nuxt3,vite): ensure debounced/async handlers run in order
  packages/bridge/src/vite/server.ts
  packages/nitro/src/server/dev.ts
  packages/nuxi/src/commands/dev.ts
  packages/nuxt3/src/core/builder.ts
  packages/vite/src/server.ts
Labels: bug, enhancement, nitro, dx, vite, bridge, cli, nuxt3, ❗ p4-important

#3670 fix(nuxt3): fix layout suspense loading
  packages/nuxt3/src/core/templates.ts
Labels: bug, nuxt3, ❗ p4-important

#3679 fix: use `perfect-debounce` to handle trailing run of promise
  packages/bridge/package.json
  packages/bridge/src/vite/server.ts
  packages/nitro/package.json
  packages/nitro/src/server/dev.ts
  packages/nuxi/package.json
  packages/nuxi/src/commands/dev.ts
  packages/nuxt3/src/core/builder.ts
  packages/vite/package.json
  packages/vite/src/server.ts
  yarn.lock
Labels: enhancement, 🍰 p2-nice-to-have

#3682 fix(pkg): add implicit dependencies
  packages/bridge/package.json
  packages/nuxt3/package.json
  packages/nuxt3/src/auto-imports/presets.ts
  packages/schema/build.config.ts
  yarn.lock
Labels: 🧹 p1-chore

#3684 feat(router): add proper server side redirection to navigateTo
  packages/bridge/src/runtime/composables.ts
  packages/nuxt3/src/app/composables/router.ts
  test/basic.test.ts
  test/bridge.test.ts
  test/fixtures/basic/pages/navigate-to.vue
  test/fixtures/basic/types.ts
  test/fixtures/bridge/pages/navigate-to.vue
Labels: enhancement, nuxt3

#3721 refactor: add some more explicit types
  packages/bridge/package.json
  packages/bridge/src/runtime/composables.ts
  packages/nitro/package.json
  packages/nuxt3/package.json
  packages/nuxt3/src/app/composables/router.ts
  packages/nuxt3/src/app/nuxt.ts
  packages/nuxt3/src/app/plugins/router.ts
  packages/nuxt3/src/pages/runtime/router.ts
  test/fixtures/basic/types.ts
  yarn.lock
Labels: types

#3722 feat(nuxt3): `watch` option for `useAsyncData` to auto refresh
  docs/content/3.docs/1.usage/1.data-fetching.md
  examples/use-async-data/app.vue
  examples/use-async-data/server/api/hello.js
  packages/nuxt3/src/app/composables/asyncData.ts
Labels: nuxt3

#3731 feat(nuxt3): `useFetch` with dynamic reactive request
  examples/use-fetch/app.vue
  examples/use-fetch/server/api/hello.ts
  packages/bridge/package.json
  packages/nuxt3/package.json
  packages/nuxt3/src/app/composables/fetch.ts
  yarn.lock
Labels: enhancement, nuxt3

#3743 fix(webpack): support absolute urls in webpack css url/import
  packages/schema/src/config/webpack.ts
Labels: bug, webpack, ❗ p4-important

#3742 feat(test-utils)!: add support for running with env variables
  packages/test-utils/src/server.ts
  packages/test-utils/src/setup/index.ts
Labels: enhancement, test, 🍰 p2-nice-to-have, test-utils

#3763 fix(bridge): handle missing `experimental` key on bridge
  packages/nuxi/src/utils/prepare.ts
Labels: bug, bridge, cli

#3766 fix(nuxt3): warn if builder can't be loaded
  packages/nuxt3/src/core/builder.ts
Labels: bug, nuxt3, 🍰 p2-nice-to-have

#3785 fix(nitro): don't include current project's layer twice
  packages/nitro/src/build.ts
Labels: bug, nitro, 🔨 p3-minor-bug

#3782 fix(nuxt3): improve component loading behaviour
  packages/nuxt3/src/components/loader.ts
  packages/nuxt3/src/components/scan.ts
Labels: bug, nuxt3, components, 🔨 p3-minor-bug

#3812 docs: add links to vue api for transitions + keepalive props
  docs/content/3.docs/2.directory-structure/10.pages.md
Labels: documentation, nuxt3

#3815 fix(nuxt3): respect `srcDir` and normalize string in component dirs
  packages/nuxt3/src/components/module.ts
Labels: bug, nuxt3, components, ❗ p4-important

#3827 fix(vite): sort postcss plugins to add autoprefixer & cssnano last
  packages/vite/src/css.ts
Labels: bug, vite, 🔨 p3-minor-bug

#3830 docs: deprecate `buildModules` in schema
  docs/content/3.docs/2.directory-structure/4.components.md
  packages/schema/src/config/_common.ts
Labels: documentation

#3757 fix(nuxt3): use shared module for dynamic paths
  packages/nitro/src/rollup/config.ts
  packages/nuxt3/src/app/entry.ts
  packages/nuxt3/src/core/templates.ts
  packages/vite/src/client.ts
  packages/vite/src/plugins/dynamic-base.ts
  packages/vite/src/server.ts
  packages/webpack/src/configs/server.ts
  packages/webpack/src/presets/base.ts
  test/basic.test.ts
  test/fixtures/basic/assets/logo.svg
  test/fixtures/basic/pages/assets.vue
  test/fixtures/basic/public/public.svg
Labels: bug, nuxt3

#3814 feat(nuxt3): support auto-loading lazy and custom-resolved components
  docs/content/3.docs/2.directory-structure/4.components.md
  packages/nuxt3/src/auto-imports/presets.ts
  packages/nuxt3/src/components/loader.ts
  packages/nuxt3/src/components/templates.ts
  packages/schema/src/config/_adhoc.ts
Labels: bug, enhancement, nuxt3, components, ❗ p4-important

#3848 fix(vite): resolve '#_config' in base plugin
  packages/vite/src/plugins/dynamic-base.ts
  packages/vite/src/server.ts
  packages/vite/src/vite.ts
Labels: bug, vite, 🍰 p2-nice-to-have

#3840 docs: migrating meta tags
  docs/content/1.getting-started/6.migration/3.meta.md
Labels: documentation

#3847 docs: minor upgrades
  docs/content/1.getting-started/6.migration/9.minor-upgrades.md
Labels: documentation

#3843 docs: added data fetching migration
  docs/content/1.getting-started/6.migration/8.data-fetching.md
Labels: documentation

#3860 test: extract dynamic paths test from within other test!
  test/basic.test.ts
Labels: chore, test, 🧹 p1-chore

#3872 fix(bridge): add implemented runtime nuxt hooks
  packages/bridge/src/runtime/app.ts
Labels: bug, bridge, types, 🔨 p3-minor-bug

#3854 fix(vite-node): entry path and executing in production
  packages/schema/src/config/experimental.ts
  packages/vite/src/vite-node.ts
  playground/nuxt.config.ts
Labels: bug, vite, ❗ p4-important

#3850 fix(bridge): replace nuxt 3 auto-imports
  packages/bridge/package.json
  packages/bridge/src/auto-imports.ts
  packages/kit/package.json
  packages/nuxt3/package.json
  packages/nuxt3/src/auto-imports/module.ts
  packages/schema/package.json
  packages/schema/src/types/hooks.ts
  yarn.lock
Labels: bug, bridge, ❗ p4-important

#3896 fix(nuxt3): avoid `#_config` app import in dev mode
  packages/nuxt3/src/core/templates.ts
Labels: bug, nuxt3, 🔨 p3-minor-bug

#3894 docs: update `serverMiddleware` to add warning on function and make example esm
  packages/schema/src/config/_common.ts
Labels: documentation, nitro

#3898 fix(bridge): don't double-install plugins when using compat `vueApp.use`
  docs/content/1.getting-started/3.bridge.md
  packages/bridge/src/runtime/app.plugin.mjs
Labels: bug, bridge, ❗ p4-important

#3886 refactor(bridge): provide vue2 compat with a transform plugin
  packages/bridge/src/app.ts
  packages/bridge/src/runtime/capi.plugin.mjs
  packages/bridge/src/runtime/vue2-bridge.d.ts
  packages/bridge/src/runtime/vue2-bridge.mjs
  packages/bridge/src/vite/vite.ts
  packages/bridge/src/vue-compat.ts
  packages/nitro/src/rollup/config.ts
  test/bridge.test.ts
  test/fixtures/bridge/pages/index.vue
Labels: bug, bridge, 🍰 p2-nice-to-have

#3899 fix(vite): externalise `#_config` in `ssr: false`
  packages/vite/src/server.ts
Labels: bug, vite, 🔨 p3-minor-bug

#3900 fix(bridge): define mixin outside plugin, to avoid memory leak
  packages/nuxt3/src/meta/runtime/plugin.ts
Labels: bug, bridge, 🔨 p3-minor-bug

#3841 feat(nuxi): scaffold files with `nuxi add`
  docs/content/3.docs/1.usage/8.cli.md
  packages/nuxi/src/commands/add.ts
  packages/nuxi/src/commands/index.ts
  packages/nuxi/src/utils/templates.ts
Labels: enhancement, nuxt3, 🍰 p2-nice-to-have

#3906 fix(bridge): don't call nuxt app if instance is inaccessible
  packages/nuxt3/src/meta/runtime/plugin.ts
Labels: bug, bridge

#3934 fix(vite-node): bugfixes for production build
  packages/vite/src/runtime/server.mjs
  packages/vite/src/vite-node.ts
Labels: vite

#3964 fix(schema): fix RouterConfig types
  docs/content/3.docs/2.directory-structure/10.pages.md
  packages/schema/src/config/router.ts
  packages/schema/src/types/router.ts
Labels: bug, 🍰 p2-nice-to-have

#3965 docs(examples): fix minor errors
  examples/with-reactivity-transform/app.vue
  examples/with-reactivity-transform/components/label.vue
  examples/with-wasm/package.json
  yarn.lock
Labels: documentation

#3967 fix(vite-node): improve server.mjs
  packages/vite/src/runtime/server.mjs
  packages/vite/src/vite-node.ts
Labels: vite

#3819 docs: update migration guide for nuxt 3
  docs/content/1.getting-started/3.commands.md
  docs/content/1.getting-started/4.bridge.md
  docs/content/1.getting-started/5.bridge-composition-api.md
  docs/content/1.getting-started/6.migration.md
  docs/content/2.concepts/1.introduction.md
  docs/content/2.concepts/2.vuejs-development.md
  docs/content/2.concepts/3.rendering.md
  docs/content/3.docs/2.directory-structure/3.assets.md
  docs/content/3.docs/3.migration/1.overview.md
  docs/content/3.docs/3.migration/10.bundling.md
  docs/content/3.docs/3.migration/11.server.md
  docs/content/3.docs/3.migration/2.configuration.md
  docs/content/3.docs/3.migration/20.module-authors.md
  docs/content/3.docs/3.migration/3.auto-imports.md
  docs/content/3.docs/3.migration/4.meta.md
  docs/content/3.docs/3.migration/5.plugins-and-middleware.md
  docs/content/3.docs/3.migration/6.pages-and-layouts.md
  docs/content/3.docs/3.migration/7.component-options.md
  docs/content/3.docs/3.migration/8.runtime-config.md
  docs/content/3.docs/3.migration/index.md
  docs/content/3.docs/8.deployment/1.azure.md
  docs/content/3.docs/8.deployment/2.cloudflare.md
  docs/content/3.docs/8.deployment/3.firebase.md
  docs/content/3.docs/8.deployment/4.netlify.md
  docs/content/3.docs/8.deployment/5.pm2.md
  docs/content/3.docs/8.deployment/6.vercel.md
  docs/content/3.docs/8.deployment/99.presets.md
  docs/content/3.docs/8.deployment/99.presets/custom.md
  docs/content/3.docs/8.deployment/99.presets/lambda.md
  docs/content/3.docs/8.deployment/99.presets/node.md
  docs/content/3.docs/8.deployment/99.presets/server.md
  docs/content/3.docs/8.deployment/99.presets/service-worker.md
  docs/content/3.docs/8.deployment/index.md
  docs/content/3.docs/9.advanced/1.nuxt.md
  docs/content/3.docs/9.advanced/2.modules.md
  docs/content/3.docs/9.advanced/3.kit.md
  docs/content/3.docs/9.advanced/4.hooks.md
Labels: documentation

#3973 fix(nuxi): respect `NUXT_PORT` and `NUXT_HOST` vars in dev mode
  docs/content/3.docs/1.usage/8.cli.md
  packages/nuxi/src/commands/dev.ts
Labels: bug, documentation, cli, 🍰 p2-nice-to-have

#3975 docs: tiny typo
  docs/content/3.docs/3.migration/7.component-options.md
Labels: documentation

#3985 feat(nuxt)!: use paylod cache for initial data fetching by default
  docs/content/3.docs/1.usage/1.data-fetching.md
  packages/nuxt3/src/app/composables/asyncData.ts
  packages/nuxt3/src/app/composables/fetch.ts
Labels: bug, enhancement, nuxt3

#3999 fix(nuxi): ignore buildDir on windows too
  packages/nuxi/src/commands/dev.ts
Labels: bug, cli, ❗ p4-important
